h1 {
    color: #27aedb;
    text-align: center;
    }
    

button{
    color: #27aedb;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.bg-pink{
	background-color:pink;
}
.landmark{
    margin-top: 12px;
    margin-bottom: 12px;
    padding-bottom: 12px;
}

.state{
    margin-top: 12px;
    padding-top: 12px;
    margin-bottom: 12px;
    padding-bottom: 12px;
}